.html,body{
background-color: darkred;
margin:0px;
}

#Clock {
position: absolute;
top: 18%;
bottom: 0;
left:40%;
right: 60%;


}

#Greeting {
                font-size: 38px;
                position: absolute;
                top:63%;
                bottom: 50%;
                left: 27%;
                color: white;
}

#Menu {
    position: absolute;
    height: 1500px;
    width: 100%;
    max-width: 100%;
    bottom: 0%;
    top: 79%;
}

#DataBase {
    max-height: 15%;
    min-height: 15%;
    position: absolute;
    width:100px;
    height:100px;
    top: 84.5%;
    left: 16%;
}




#Music {
    max-height: 15%;
    min-height: 15%;
    position: absolute;
    width:100px;
    height:100px;
    top: 83%;
    left: 24%;
}


#Game{
    max-height: 15%;
    min-height: 16%;
    bottom: 1.5%;
    position: absolute;
    width:100px;
    height:100px;
    left: 32%;
    margin-left: 1%;
}
    

#TV {
    max-height: 15%;
    min-height: 15%;
    position: absolute;
    width:100px;
    height:100px;
    bottom:1.5%;
    left: 40%;
    margin-left: 2%;
    
}

#Book {
    max-height: 15%;
    min-height: 15%;
    position: absolute;
    width:100px;
    height:100px;
    bottom:1%;
    left: 48%;
    margin-left: 3%;
}
   
#Apps {
    max-height: 15%;
     min-height: 15%;
position:absolute;
    width:100px;
    height:100px;
    bottom: 2.5%;
    left: 57%;
    margin-left: 3%;
}

#Dev {
    max-height: 15%;
     min-height: 15%;
position:absolute;
    width:100px;
    height:100px;
    bottom: 0.6%;
    left: 65%;
    margin-left: 3%;
}


