.html,body{
background-color: grey;
margin:0px;
}

#Clock {
position: absolute;
top: 18%;
bottom: 0;
left:40%;
right: 60%;


}

#Greeting {
                font-size: 38px;
                position: absolute;
                top:63%;
                bottom: 50%;
                left: 27%;
                color: white;
}

#Menu {
    position: absolute;
    height: 1500px;
    width: 100%;
    max-width: 100%;
    bottom: 0%;
    top: 79%;
}